.header-link a{
    text-decoration: none;
    margin-left: 10%;
    font-size: 1.2rem;
    color: white;
}
.signin-signout a{
    padding: 9px 34px;
    border-radius: 40px;
    margin-top: 13px;
    margin-left: 0px;
    cursor: pointer;
    margin-right: 57px;
    background-color: #23ABE1;
}
.navbar-text h4{
    margin-top: 14px;
}